<!DOCTYPE html>
<html>
  <head>
    <title>It's <%=title%></title>
    <% stylesheet('stylesheets/layout.css') -%>
    <% stylesheet('stylesheets/icon.css') -%>
    <%-stylesheets%>
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      <%-blocks.footer%>
    </footer>
    <% script('javascripts/web/jquery-common.js') -%>
    <% script('javascripts/web/backbone-common.js') -%>
    <% script('javascripts/web/UM-jquery-common.js') -%>
    <%-scripts%>
  </body>
</html>